.section-title {
    font-size: 18pt;
    margin-bottom: 30px;
}

.workspace-name {
    float: left;
    width: 150px;
}

.workspace-menu-container {
    clear: both;
    margin-top: 10px;
}

.workspace-menu {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.workspace-menu:nth-child(1) {
    margin-left: 0;
}