.header {
	width: 100vw;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 1px solid #AAA;
}

.header-left {
	width: 200px;
	display: inline-block;
}

.header-item {
	display: inline-block;
	padding: 0 10px;
	height: 50px;
	margin-top: 5px;
	cursor: default;
}

.header-item:hover {
	background-color: #DDD;
}

.header-item-image {
	height: 30px;
	text-align: center;
}

.header-item-image svg {
	display: inline-block;
	vertical-align: middle;
}

.header-item-name {
	font-size: 10pt;
	text-align: center;
}

.left-pane, .right-pane {
	position: absolute;
	top: 60px;
	height: calc(100vh - 60px);
}

.draggable-component {
	position: absolute;
	z-index: 500;
	width: 200px;
	height: 200px;
	display: none;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.draggable-component.dragging {
	display: block;
}

.left-pane {
	left: 0;
	width: 250px;
	border-right: 1px solid #CCC;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.right-pane {
	right: 0;
	width: 250px;
	border-left: 1px solid #CCC;
}

.sheet-container {
	position: absolute;
	top: 60px;
	left: 250px;
	width: calc(100vw - 500px);
	height: calc(100vh - 60px);
	background-color: #EEE;
	overflow: auto;
	text-align: center;
	padding: 100px 50px;
}

.sheet {
	display: inline-block;
	width: 700px;
	height: 700px;
	background-color: white;
	box-shadow: 0 0 5px #CCC;
}

input[type="text"] {
	border-radius: 3px;
	border: 1px solid #AAA;
	padding: 5px;
}

.search {
	padding: 10px;
}

.input-search {
	display: block;
	width: 100%;
}

.component-group {
	display: inline-block;
	width: 100%;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
}

.component-group-title {
	width: 100%;
	padding: 5px 10px;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}

.component-item {
	float: left;
	width: 124px;
	height: 124px;
	border-bottom: 1px solid #DDD;
	padding-top: 15px;
	cursor: default;
}

.component-item:nth-child(even) {
	border-right: 1px solid #DDD;
}

.component-item:hover {
	background-color: #EEE;
}

.component-item-image {
	width: 70px;
	height: 70px;
	margin: 0 auto 10px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.component-item-name {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}