* {
    margin: 0;
    padding: 0;

    -ms-touch-action: pan-x pan-y;
    touch-action: manipulation;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100px;
    height: 100px;
    right: 30px;
    bottom: 30px;
}

.loader.show {
    display: block;
}

.loader-circular {
    -webkit-animation: rotate 1.5s linear infinite;
    -moz-animation: rotate 1.5s linear infinite;
    -ms-animation: rotate 1.5s linear infinite;
    -o-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
}

.loader-circular-path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -ms-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -o-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -186;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -186;
    }
}

@-webkit-keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}

.btn, .profile-menu-container {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E88E5;
    color: white;
    box-shadow: 0 0 5px #777;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
	background-color: #1976D2;
}

.error {
    color: red;
}

.header-top {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #999;
}

.header-profile {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    position: relative;
}

.header-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile-menu-container {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    background-color: white;
    box-shadow: 0 0 5px #999;
    padding: 10px 0;
    display: none;
}

.header-profile.show-profile-menu .profile-menu-container {
    display: inline-block;
}

.profile-menu {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
}

.profile-menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-left {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6A1B9A;
}

.header-left-upper {
    height: 150px;
}

.header-subtitle {
    margin-left: 270px;
    margin-top: 15px;
    font-size: 24pt;
    float: left;
}

.header-menu {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 0 20px 20px;
}

.header-menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 70px;
    margin-left: 250px;
    padding: 25px;
}